<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='designAbout.css') }}"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epicenter</title>
  </head>

  <body>
    <nav id="navbar">
      <ul>
        <li id="page-name-li">
          <p id="page-name">EPICENTER</p>
        </li>

        <li>
          <a href="{{ url_for('index')}}"><p>Helper Map</p></a>
        </li>
        <li>
          <a href="{{ url_for('about')}}"><p>Our Service</p></a>
        </li>
        <li>
          <a href="{{ url_for('gethelp')}}"><p>Help Form</p></a>
        </li>
      </ul>
    </nav>

    <section>
      <img
        src="{{ url_for('static', filename='/img/worldmap.webp') }}"
        class="image"
      />
      <!-- image here -->

      <div class="content">
        <h2>About Us</h2>
        <span><!-- hehe --></span>

        <p>
          At Epicenter we connect those with help to provide to those who need
          it during hard times. Register as a helper in your community, and let
          the people close to you share what you have in abundance. Do you have
          access to clean water, an extra bed, or some outgrown clothes? Share
          it on Epicenter!
        </p>
        <br />
        <h2>Verified Helpers</h2>

        <span> <!--helu--></span>
        <p>
          To ensure the legitimacy of helpers we use a verification system.
          Newly registered helpers sends us proof of their identity and ability
          to help, and we verify them as soon as possible. We allow people to
          register as helpers either way, but we encourage you to go through the
          verification process.
        </p>
        <ul class="links">
          <li>
            <a href="https://rvx4c2iv9h4.typeform.com/to/xTAqRSJn"
              >Become Verified!</a
            >
          </li>
          <br />
          <li><a href="#">Donate Items Here!</a></li>
        </ul>

        <ul class="icons">
          <li>
            <i class="fa fa-github"></i>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
