<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='ddesign.css')}}"
      type="text/css"
    />
    <script src="..\static\js\myScript.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>

  <body>
    <div id""lpform">"
    <h1>HELLO</h1>    </div>
  </body>
</html>
