<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css"/>

{% extends 'index.html'%}

{% block body%} 
<div class="bg-modal" id="modall">
          <div class="modal-content">
          <div class="close" id="close">+</div>
              <form >
              <input type="text" name="name" placeholder="Your name" required></input>
              <input type="email" name="address" placeholder="Your email" required></input>
              <input type="text" name="latitude" placeholder="Latitude of address" required></input>
              <input type="text" name="longitude" placeholder="Longitude of address" required></input>
              <div class="">
                <label class="radio">
                  <li style="text-decoration: none; list-style: none; margin: 10px; cursor: pointer;"><input type="radio" name="answer" value="Food/Water">Food/Water</li>
                </label>
                <label class="radio">
                  <li style="text-decoration: none; list-style: none; margin: 10px; cursor: pointer;"><input type="radio" name="answer" value="Shelter">Shelter</li>
                </label>
                <label class="radio">
                  <li style="text-decoration: none; list-style: none; margin: 10px; cursor: pointer;"><input type="radio" name="answer" value="Donations">Donations</li>
                </label>
                <label class="radio">
                  <li style="text-decoration: none; list-style: none; margin: 10px; cursor: pointer;"><input type="radio" name="answer" value="Services">Services<li>
                </label>
        </div>
              <a href="{{ url_for('index')}}" class="button">Submit</a>
              </form>
          </div>
          </div>

{% endblock %}
