<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='ddesign.css')}}"
      type="text/css"
    />
    <!--<script src="../static/js/myScript.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Epicenter</title>
  </head>
  <body>
    <div id='home'>
    <nav id="navbar">
      <ul>
        <li id="page-name-li">
          <p id="page-name">EPICENTER</p>
        </li>

        <li>
          <a href="{{ url_for("index")}}"><p>Helper Map</p></a>
        </li>
        <li>
          <a href="{{ url_for("about")}}"><p>Our Service</p></a>
        </li>
        <li>
          <a href="{{ url_for("gethelp")}}"><p>Help Form</p></a>
        </li>
      </ul>
    </nav>

    <div id="grid-wrapper">
      <!--The map image with text over it-->
      <main id="landing-page">
        <img src="..\static\img\map2.jpg" />

        <div id="landing-text">
          <h1>EPICENTER</h1>
          <h3>From the hands of the community</h3>
        </div>

        <a href="#map-interface" class="scroll-link" id = "to-map">
          <img src="../static\img\arrowdown.png">
      </a>
      </main>
      <!--The end of the map image-->
      <!--The actual map with the buttons-->
      <!-- <script>
        const gethelp = document.getElementById("gethelp")
        const modal = document.getElementById("modall")
        //const close = document.getElementById()
        // gethelp.addEventListener("click", function() {
        //   modal.classList.add('show');
        // })


        function myClick(){
          console.log("in function");
          //console.log(document.getElementById('gethelp').value);
          if(document.getElementById('gethelp').clicked == true){
            console.log("in get help");
          }
          if(document.getElementById('havehelp').clicked){
            console.log("to help");
          }
          else if(document.getElementById('map').clicked){
              // filler
          }
        }
      </script> -->

      <div id="map-interface">
        <iframe src="/map" id="map-frame"></iframe>
        <div id="map-options">
          <a href ="https://rvx4c2iv9h4.typeform.com/to/LNEOzzGK"  >
            <button>
              <img src="..\static\img\audience.svg" class="icon">  
              Request help!
          </button>
          </a>
          <!--trying the modal-->
          <!--<div class="bg-modal" id="modall">
          <div class="modal-content">
          <div class="close" id="close">+</div>
              <form>
              <input type="text" name="name" placeholder="Your name"></input>
              <input type="text" name="address" placeholder="Your email"></input>
              <input type="text" name="latitude" placeholder="Latitude of address"></input>
              <input type="text" name="longitude" placeholder="Longitude of address"></input>
              <a href="{{ url_for('index')}}" class="button">Submit</a>
              </form>
          </div>
          </div>-->
      
          <!--end of trying the modal-->
          <button id='haveHelpClick' onclick='myClick()'>
            <img src="..\static\img\placeholder.svg" class="icon" />
            Volunteer to help
          </button>
          <button id='mapClick' onclick='myClick()'>
            <img src="..\static\img\map3.svg" class="icon"/>
            Map: Houston, Texas
          </button>
          <!-- <script>
            function onclick(){

            }
          </script> -->
        </div>
      </div>

      <a href="#newsfeed-wrapper" class="scroll-link" id="to-news">
        <img src="../static\img\arrowdown.png">
      </a>

      <!--The end of the map div-->
      <div id="newsfeed-wrapper">
        <p id="newsfeed-fetch">
          {{ news }}  
        </p>

        <div id="news-info">
          <h1>Stay updated</h1>
          <p>The latest news concerning "Texas+weather". Powered by the NewsAPI.</p>
          <h1><span>&#8594;</span></h1>
        </div>

      <div id = "newsfeed">
        <a href="" id = "art1" class = "news-title" onmouseover="hoverIn(0)" onmouseout=hoverOut(0)></a>
        <img src="" id="img1" class = "news-img">
        <img src="" id="img2" class = "news-img">
        <a href="" id = "art2" class = "news-title" onmouseover="hoverIn(1)" onmouseout=hoverOut(1)></a>
        
        <a href="" id = "art3" class = "news-title" onmouseover="hoverIn(2)" onmouseout=hoverOut(2)></a>
        <img src="" id="img3" class = "news-img">
        <img src="" id="img4" class = "news-img">
        <a href="" id = "art4" class = "news-title" onmouseover="hoverIn(3)" onmouseout=hoverOut(3)></a>
        

      </div>

            <!--newsapi key: 53a218ace3974c7990cad1a004593ee8-->

      </div>



    </div>
        
      </div>
     
    <script src="..\static\js\navbar.js"></script>
    <script src="..\static\js\newsfeed.js"></script>
    <script>
      const gethelp = document.getElementById("gethelp")
      const modal = document.getElementById("modall")
      //const close = document.getElementById()
      // gethelp.addEventListener("click", function() {
      //   modal.classList.add('show');
      // })


      function getHelpClick(){
        console.log("in get help");
      }
      function haveHelpClick(){
        console.log("in have help");
      }
      function mapClick(){
        console.log("in map");
      }
    </script>
     </div>

  </body>
</html>

