<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ca12f4dfe59a4580bb94a26a382e4839 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ca12f4dfe59a4580bb94a26a382e4839" ></div>
        
</body>
<script>    
    
            var map_ca12f4dfe59a4580bb94a26a382e4839 = L.map(
                "map_ca12f4dfe59a4580bb94a26a382e4839",
                {
                    center: [29.7604, -95.3698],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_6f68cf9f226f4d5db414e2774571cd1e = L.tileLayer(
                "https://api.mapbox.com/styles/v1/xdonaldduckftwx/cklf0uw4d35zq17med1sur2wa/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoieGRvbmFsZGR1Y2tmdHd4IiwiYSI6ImNrbGYwc2p3ajFlYTUyb3M0czJ1ODF2aXIifQ.9st5K9vntIAZ_nK1JnbbfA",
                {"attribution": "Navigation Mapbox Attribution", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var marker_b5f19f7928a4467d8820cbd0b74ed527 = L.marker(
                [32.9791, -96.8922],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_6073f2a038a84782ae4d69a9a1aafb17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b5f19f7928a4467d8820cbd0b74ed527.setIcon(icon_6073f2a038a84782ae4d69a9a1aafb17);
        
    
        var popup_9ff9096a10d04816b4966e325a34685b = L.popup({"maxWidth": "100%"});

        
            var html_3cbb0247e0c84d98b00ffea8316218f6 = $(`<div id="html_3cbb0247e0c84d98b00ffea8316218f6" style="width: 100.0%; height: 100.0%;">Newman Smith High School Center</div>`)[0];
            popup_9ff9096a10d04816b4966e325a34685b.setContent(html_3cbb0247e0c84d98b00ffea8316218f6);
        

        marker_b5f19f7928a4467d8820cbd0b74ed527.bindPopup(popup_9ff9096a10d04816b4966e325a34685b)
        ;

        
    
    
            var marker_b6ef5e129b5748c49976d8bd9a9da4be = L.marker(
                [30.28418, -97.73643],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_c1c942afcde04297911a0696a3cee805 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b6ef5e129b5748c49976d8bd9a9da4be.setIcon(icon_c1c942afcde04297911a0696a3cee805);
        
    
        var popup_f7cdcd35ce1e47508829c3c4b21ae1b4 = L.popup({"maxWidth": "100%"});

        
            var html_808d64bcb7ac44bf989cc15b12246e08 = $(`<div id="html_808d64bcb7ac44bf989cc15b12246e08" style="width: 100.0%; height: 100.0%;">Gregory Gymnasium Warming Center</div>`)[0];
            popup_f7cdcd35ce1e47508829c3c4b21ae1b4.setContent(html_808d64bcb7ac44bf989cc15b12246e08);
        

        marker_b6ef5e129b5748c49976d8bd9a9da4be.bindPopup(popup_f7cdcd35ce1e47508829c3c4b21ae1b4)
        ;

        
    
    
            var marker_51fe9bdf561c473198a36a3385cc459e = L.marker(
                [30.29344, -97.727371],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_fd3e9360fe7a4d4eb17c5cc1aaf8e042 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_51fe9bdf561c473198a36a3385cc459e.setIcon(icon_fd3e9360fe7a4d4eb17c5cc1aaf8e042);
        
    
        var popup_f23fbb9d275649ed92d9dc351a30468a = L.popup({"maxWidth": "100%"});

        
            var html_3c4eb0a1ccd0489abec134289b0320e6 = $(`<div id="html_3c4eb0a1ccd0489abec134289b0320e6" style="width: 100.0%; height: 100.0%;">Russell Lee Elementary School (Warm up)</div>`)[0];
            popup_f23fbb9d275649ed92d9dc351a30468a.setContent(html_3c4eb0a1ccd0489abec134289b0320e6);
        

        marker_51fe9bdf561c473198a36a3385cc459e.bindPopup(popup_f23fbb9d275649ed92d9dc351a30468a)
        ;

        
    
    
            var marker_015805ac95fe4843811acc6601ed4f74 = L.marker(
                [30.73588, -95.58291],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_892398b1d2c54c0881d6ebbbfa9441dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_015805ac95fe4843811acc6601ed4f74.setIcon(icon_892398b1d2c54c0881d6ebbbfa9441dc);
        
    
        var popup_145e09fc3d99400fb426e94df640c5eb = L.popup({"maxWidth": "100%"});

        
            var html_750dbfeb51d349fa8f36c572e15904a0 = $(`<div id="html_750dbfeb51d349fa8f36c572e15904a0" style="width: 100.0%; height: 100.0%;">Walker County Shelter</div>`)[0];
            popup_145e09fc3d99400fb426e94df640c5eb.setContent(html_750dbfeb51d349fa8f36c572e15904a0);
        

        marker_015805ac95fe4843811acc6601ed4f74.bindPopup(popup_145e09fc3d99400fb426e94df640c5eb)
        ;

        
    
    
            var marker_ee688e21e58645ac94d545f96cd46afa = L.marker(
                [29.96185, -95.37387],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_e6d56038caf042f7a3dbe6ba073f661d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ee688e21e58645ac94d545f96cd46afa.setIcon(icon_e6d56038caf042f7a3dbe6ba073f661d);
        
    
        var popup_2a73467018ed4f4fb788dbcd625a641d = L.popup({"maxWidth": "100%"});

        
            var html_05553dd05a324b148cc1c9fbc05fd3c6 = $(`<div id="html_05553dd05a324b148cc1c9fbc05fd3c6" style="width: 100.0%; height: 100.0%;">National Association of Christian Churches</div>`)[0];
            popup_2a73467018ed4f4fb788dbcd625a641d.setContent(html_05553dd05a324b148cc1c9fbc05fd3c6);
        

        marker_ee688e21e58645ac94d545f96cd46afa.bindPopup(popup_2a73467018ed4f4fb788dbcd625a641d)
        ;

        
    
    
            var marker_cd1c9df59cea40cb9ec310e8e200a47c = L.marker(
                [30.400336, -95.70874],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_f220574915af4a60b243b5f663c3ed20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cd1c9df59cea40cb9ec310e8e200a47c.setIcon(icon_f220574915af4a60b243b5f663c3ed20);
        
    
        var popup_b956527ee8d24255aac4ebb07c08e887 = L.popup({"maxWidth": "100%"});

        
            var html_d30dcde4930c4454b4de9331a604a43c = $(`<div id="html_d30dcde4930c4454b4de9331a604a43c" style="width: 100.0%; height: 100.0%;">Montgomery County Lone Star Community Center</div>`)[0];
            popup_b956527ee8d24255aac4ebb07c08e887.setContent(html_d30dcde4930c4454b4de9331a604a43c);
        

        marker_cd1c9df59cea40cb9ec310e8e200a47c.bindPopup(popup_b956527ee8d24255aac4ebb07c08e887)
        ;

        
    
    
            var marker_a105e2770c444ca29923320a9b83a7d2 = L.marker(
                [30.2221109, -95.7267013],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_1951c3072c39498682d39168596e7e48 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a105e2770c444ca29923320a9b83a7d2.setIcon(icon_1951c3072c39498682d39168596e7e48);
        
    
        var popup_29d32f6279ac499c983064acd8c81bd3 = L.popup({"maxWidth": "100%"});

        
            var html_fc6e9bd6f11a442ab91f87c5c6f83fd6 = $(`<div id="html_fc6e9bd6f11a442ab91f87c5c6f83fd6" style="width: 100.0%; height: 100.0%;">Wildwood UMC Warming Center</div>`)[0];
            popup_29d32f6279ac499c983064acd8c81bd3.setContent(html_fc6e9bd6f11a442ab91f87c5c6f83fd6);
        

        marker_a105e2770c444ca29923320a9b83a7d2.bindPopup(popup_29d32f6279ac499c983064acd8c81bd3)
        ;

        
    
    
            var marker_4e1d2d61e4b94723ba58fdf28195dede = L.marker(
                [32.9631139, -96.726821],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_3b8795759817450ab3e9363b35409621 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4e1d2d61e4b94723ba58fdf28195dede.setIcon(icon_3b8795759817450ab3e9363b35409621);
        
    
        var popup_2a41957fcaa746fd913fdb752991d14d = L.popup({"maxWidth": "100%"});

        
            var html_56da9e3cd75b4a6eb6175d1d05e4a5ce = $(`<div id="html_56da9e3cd75b4a6eb6175d1d05e4a5ce" style="width: 100.0%; height: 100.0%;">First Baptist Richardson</div>`)[0];
            popup_2a41957fcaa746fd913fdb752991d14d.setContent(html_56da9e3cd75b4a6eb6175d1d05e4a5ce);
        

        marker_4e1d2d61e4b94723ba58fdf28195dede.bindPopup(popup_2a41957fcaa746fd913fdb752991d14d)
        ;

        
    
    
            var marker_ac91c1c855f64639a1412f53acc5bc10 = L.marker(
                [30.3978111, -95.6134237],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_9afc74e0203442268eef7fc52cee9c95 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ac91c1c855f64639a1412f53acc5bc10.setIcon(icon_9afc74e0203442268eef7fc52cee9c95);
        
    
        var popup_7123bb364c80427e8d70e952834a82fa = L.popup({"maxWidth": "100%"});

        
            var html_e5486ae40dd649c5897a096dc38d6e6e = $(`<div id="html_e5486ae40dd649c5897a096dc38d6e6e" style="width: 100.0%; height: 100.0%;">Madeley Ranch Elementry</div>`)[0];
            popup_7123bb364c80427e8d70e952834a82fa.setContent(html_e5486ae40dd649c5897a096dc38d6e6e);
        

        marker_ac91c1c855f64639a1412f53acc5bc10.bindPopup(popup_7123bb364c80427e8d70e952834a82fa)
        ;

        
    
    
            var marker_9ccb7a2ba9484da0917f036768cfbe3f = L.marker(
                [29.4205326, -98.4836466],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_523e58ca1f0e425ab70dd91c1a780ccc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9ccb7a2ba9484da0917f036768cfbe3f.setIcon(icon_523e58ca1f0e425ab70dd91c1a780ccc);
        
    
        var popup_9a9d125fc0ba492ebc2c849b2464d961 = L.popup({"maxWidth": "100%"});

        
            var html_c58062ab2f54403aa9c6cf816ae138f3 = $(`<div id="html_c58062ab2f54403aa9c6cf816ae138f3" style="width: 100.0%; height: 100.0%;">Henry B. Gonzalez Convention Center</div>`)[0];
            popup_9a9d125fc0ba492ebc2c849b2464d961.setContent(html_c58062ab2f54403aa9c6cf816ae138f3);
        

        marker_9ccb7a2ba9484da0917f036768cfbe3f.bindPopup(popup_9a9d125fc0ba492ebc2c849b2464d961)
        ;

        
    
    
            var marker_d85d996d8f624cf8b1a4251b3198c06f = L.marker(
                [31.8573755, -102.3447222],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_faeada3732f5421bbfcb898fe39f0392 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d85d996d8f624cf8b1a4251b3198c06f.setIcon(icon_faeada3732f5421bbfcb898fe39f0392);
        
    
        var popup_a733d009d1084de2b6f66e0b53d88a84 = L.popup({"maxWidth": "100%"});

        
            var html_39d5cc00f00044b1bbf827e6c621def0 = $(`<div id="html_39d5cc00f00044b1bbf827e6c621def0" style="width: 100.0%; height: 100.0%;">St. Elizabeth Ann Seaton Catholic Parish Gym</div>`)[0];
            popup_a733d009d1084de2b6f66e0b53d88a84.setContent(html_39d5cc00f00044b1bbf827e6c621def0);
        

        marker_d85d996d8f624cf8b1a4251b3198c06f.bindPopup(popup_a733d009d1084de2b6f66e0b53d88a84)
        ;

        
    
    
            var marker_736ac908576648e29c40bb967c4f43e8 = L.marker(
                [31.847566, -102.36907],
                {}
            ).addTo(map_ca12f4dfe59a4580bb94a26a382e4839);
        
    
            var icon_93cf3984629040169ce50f45bce22f24 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_736ac908576648e29c40bb967c4f43e8.setIcon(icon_93cf3984629040169ce50f45bce22f24);
        
    
        var popup_305db5b483914918aaf04b7fc9327979 = L.popup({"maxWidth": "100%"});

        
            var html_5a336f5829cf4be894f30351b2219306 = $(`<div id="html_5a336f5829cf4be894f30351b2219306" style="width: 100.0%; height: 100.0%;">Copper Rose Building Warming Center</div>`)[0];
            popup_305db5b483914918aaf04b7fc9327979.setContent(html_5a336f5829cf4be894f30351b2219306);
        

        marker_736ac908576648e29c40bb967c4f43e8.bindPopup(popup_305db5b483914918aaf04b7fc9327979)
        ;

        
    
</script>