<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_55993b9e246c43b883e3ae27296c5438 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_55993b9e246c43b883e3ae27296c5438" ></div>
        
</body>
<script>    
    
            var map_55993b9e246c43b883e3ae27296c5438 = L.map(
                "map_55993b9e246c43b883e3ae27296c5438",
                {
                    center: [29.7604, -95.3698],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_db091f0681694dd4bcd5ab3028b2dc23 = L.tileLayer(
                "https://api.mapbox.com/styles/v1/xdonaldduckftwx/cklf0uw4d35zq17med1sur2wa/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoieGRvbmFsZGR1Y2tmdHd4IiwiYSI6ImNrbGYwc2p3ajFlYTUyb3M0czJ1ODF2aXIifQ.9st5K9vntIAZ_nK1JnbbfA",
                {"attribution": "Navigation Mapbox Attribution", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var marker_8ada931fb73044b8b8e1974bcea1aae6 = L.marker(
                [32.9791, -96.8922],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_439ff4ec6d3d45b887668d76a46cd05e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8ada931fb73044b8b8e1974bcea1aae6.setIcon(icon_439ff4ec6d3d45b887668d76a46cd05e);
        
    
        var popup_86bcaf4efa62474c84e1718e4a769628 = L.popup({"maxWidth": "100%"});

        
            var html_6c799bc823da462d94a1bb799ebd8a60 = $(`<div id="html_6c799bc823da462d94a1bb799ebd8a60" style="width: 100.0%; height: 100.0%;">Newman Smith High School Center</div>`)[0];
            popup_86bcaf4efa62474c84e1718e4a769628.setContent(html_6c799bc823da462d94a1bb799ebd8a60);
        

        marker_8ada931fb73044b8b8e1974bcea1aae6.bindPopup(popup_86bcaf4efa62474c84e1718e4a769628)
        ;

        
    
    
            var marker_c39b938cbf7f418abdfdb61bfacd5b26 = L.marker(
                [30.28418, -97.73643],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_cb9b5184a6a840bda71f077cb48bc1db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c39b938cbf7f418abdfdb61bfacd5b26.setIcon(icon_cb9b5184a6a840bda71f077cb48bc1db);
        
    
        var popup_7a4a78bdc7df4cdca461c603fccb482b = L.popup({"maxWidth": "100%"});

        
            var html_c2f404b70f194995b66976440e238e29 = $(`<div id="html_c2f404b70f194995b66976440e238e29" style="width: 100.0%; height: 100.0%;">Gregory Gymnasium Warming Center</div>`)[0];
            popup_7a4a78bdc7df4cdca461c603fccb482b.setContent(html_c2f404b70f194995b66976440e238e29);
        

        marker_c39b938cbf7f418abdfdb61bfacd5b26.bindPopup(popup_7a4a78bdc7df4cdca461c603fccb482b)
        ;

        
    
    
            var marker_ccf2ffd639214a818599ff58907c1fdd = L.marker(
                [30.29344, -97.727371],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_57a3046cfde44f13ba7195010d35d815 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ccf2ffd639214a818599ff58907c1fdd.setIcon(icon_57a3046cfde44f13ba7195010d35d815);
        
    
        var popup_256eab1d921944dead4ee353b10695ed = L.popup({"maxWidth": "100%"});

        
            var html_68d17ec070c946c9bfbb4b14db5db7b3 = $(`<div id="html_68d17ec070c946c9bfbb4b14db5db7b3" style="width: 100.0%; height: 100.0%;">Russell Lee Elementary School (Warm up)</div>`)[0];
            popup_256eab1d921944dead4ee353b10695ed.setContent(html_68d17ec070c946c9bfbb4b14db5db7b3);
        

        marker_ccf2ffd639214a818599ff58907c1fdd.bindPopup(popup_256eab1d921944dead4ee353b10695ed)
        ;

        
    
    
            var marker_33d87223372c410194e08b477821b207 = L.marker(
                [30.73588, -95.58291],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_8e6c8570570349159b7fe6a1113da5e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_33d87223372c410194e08b477821b207.setIcon(icon_8e6c8570570349159b7fe6a1113da5e9);
        
    
        var popup_762f82f8d3bf4bb0834437ae2247df7d = L.popup({"maxWidth": "100%"});

        
            var html_c2a9f24db3514ea3a2aaebfe9b7f07b8 = $(`<div id="html_c2a9f24db3514ea3a2aaebfe9b7f07b8" style="width: 100.0%; height: 100.0%;">Walker County Shelter</div>`)[0];
            popup_762f82f8d3bf4bb0834437ae2247df7d.setContent(html_c2a9f24db3514ea3a2aaebfe9b7f07b8);
        

        marker_33d87223372c410194e08b477821b207.bindPopup(popup_762f82f8d3bf4bb0834437ae2247df7d)
        ;

        
    
    
            var marker_890e2818946d4fa6a3424558666148de = L.marker(
                [29.96185, -95.37387],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_1b0f114de8db43209708450edc34fce9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_890e2818946d4fa6a3424558666148de.setIcon(icon_1b0f114de8db43209708450edc34fce9);
        
    
        var popup_f268e6347446470a91aae6e429578ce0 = L.popup({"maxWidth": "100%"});

        
            var html_b3e1d792d6484dbb80fbe5c1fabcc6da = $(`<div id="html_b3e1d792d6484dbb80fbe5c1fabcc6da" style="width: 100.0%; height: 100.0%;">National Association of Christian Churches</div>`)[0];
            popup_f268e6347446470a91aae6e429578ce0.setContent(html_b3e1d792d6484dbb80fbe5c1fabcc6da);
        

        marker_890e2818946d4fa6a3424558666148de.bindPopup(popup_f268e6347446470a91aae6e429578ce0)
        ;

        
    
    
            var marker_948b170861e848e481b283ec5ab7d479 = L.marker(
                [30.400336, -95.70874],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_dd393ad6bc9444c6b05b8386bdb65552 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_948b170861e848e481b283ec5ab7d479.setIcon(icon_dd393ad6bc9444c6b05b8386bdb65552);
        
    
        var popup_c1e25c3ac5a247b49e74153fe95d77a0 = L.popup({"maxWidth": "100%"});

        
            var html_c5e52e727b5f4068b2197716a78dfcdd = $(`<div id="html_c5e52e727b5f4068b2197716a78dfcdd" style="width: 100.0%; height: 100.0%;">Montgomery County Lone Star Community Center</div>`)[0];
            popup_c1e25c3ac5a247b49e74153fe95d77a0.setContent(html_c5e52e727b5f4068b2197716a78dfcdd);
        

        marker_948b170861e848e481b283ec5ab7d479.bindPopup(popup_c1e25c3ac5a247b49e74153fe95d77a0)
        ;

        
    
    
            var marker_37917ff82c5941eb94cebd3f7e3cac00 = L.marker(
                [30.2221109, -95.7267013],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_49851e5151154e1ba5e91fc6e92d007b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_37917ff82c5941eb94cebd3f7e3cac00.setIcon(icon_49851e5151154e1ba5e91fc6e92d007b);
        
    
        var popup_93d15f553d4f44cdbba31301138f8895 = L.popup({"maxWidth": "100%"});

        
            var html_cfd4cfefe8644a8d850c6ea449f5f531 = $(`<div id="html_cfd4cfefe8644a8d850c6ea449f5f531" style="width: 100.0%; height: 100.0%;">Wildwood UMC Warming Center</div>`)[0];
            popup_93d15f553d4f44cdbba31301138f8895.setContent(html_cfd4cfefe8644a8d850c6ea449f5f531);
        

        marker_37917ff82c5941eb94cebd3f7e3cac00.bindPopup(popup_93d15f553d4f44cdbba31301138f8895)
        ;

        
    
    
            var marker_fe8b26c10e9343edb0daaa9be8bb13bb = L.marker(
                [32.9631139, -96.726821],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_0c58d1bd6e5d44af9dbf4ff75e82decf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fe8b26c10e9343edb0daaa9be8bb13bb.setIcon(icon_0c58d1bd6e5d44af9dbf4ff75e82decf);
        
    
        var popup_d57060be3c3e4f558daadaf061f6c1bb = L.popup({"maxWidth": "100%"});

        
            var html_0d7d362b63cb4de3ad04b33d352702a6 = $(`<div id="html_0d7d362b63cb4de3ad04b33d352702a6" style="width: 100.0%; height: 100.0%;">First Baptist Richardson</div>`)[0];
            popup_d57060be3c3e4f558daadaf061f6c1bb.setContent(html_0d7d362b63cb4de3ad04b33d352702a6);
        

        marker_fe8b26c10e9343edb0daaa9be8bb13bb.bindPopup(popup_d57060be3c3e4f558daadaf061f6c1bb)
        ;

        
    
    
            var marker_04ea609a7dea489282afa32f95b4e7ec = L.marker(
                [30.3978111, -95.6134237],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_b9414168824b468d95973e7c1c65bd32 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_04ea609a7dea489282afa32f95b4e7ec.setIcon(icon_b9414168824b468d95973e7c1c65bd32);
        
    
        var popup_35688c4087514b28948f2895865d72b8 = L.popup({"maxWidth": "100%"});

        
            var html_3f65c1b7df8049d38ecaecc08c0046f1 = $(`<div id="html_3f65c1b7df8049d38ecaecc08c0046f1" style="width: 100.0%; height: 100.0%;">Madeley Ranch Elementry</div>`)[0];
            popup_35688c4087514b28948f2895865d72b8.setContent(html_3f65c1b7df8049d38ecaecc08c0046f1);
        

        marker_04ea609a7dea489282afa32f95b4e7ec.bindPopup(popup_35688c4087514b28948f2895865d72b8)
        ;

        
    
    
            var marker_cffc7efec5b54ba7b38c20f1c634eaf5 = L.marker(
                [29.4205326, -98.4836466],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_0ef68aeaf26d43c2b9837d6f456f217e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_cffc7efec5b54ba7b38c20f1c634eaf5.setIcon(icon_0ef68aeaf26d43c2b9837d6f456f217e);
        
    
        var popup_7272a6240fcf48298919d4116111e0bc = L.popup({"maxWidth": "100%"});

        
            var html_aa285b5bf55c4a25be3ee76958767e4f = $(`<div id="html_aa285b5bf55c4a25be3ee76958767e4f" style="width: 100.0%; height: 100.0%;">Henry B. Gonzalez Convention Center</div>`)[0];
            popup_7272a6240fcf48298919d4116111e0bc.setContent(html_aa285b5bf55c4a25be3ee76958767e4f);
        

        marker_cffc7efec5b54ba7b38c20f1c634eaf5.bindPopup(popup_7272a6240fcf48298919d4116111e0bc)
        ;

        
    
    
            var marker_8f697f9505e849caa9bb7940cb36ed1c = L.marker(
                [31.8573755, -102.3447222],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_3b6007a969a64e0c8f07139d350bfcf7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8f697f9505e849caa9bb7940cb36ed1c.setIcon(icon_3b6007a969a64e0c8f07139d350bfcf7);
        
    
        var popup_997a555647c94e129356f601883de3b9 = L.popup({"maxWidth": "100%"});

        
            var html_1ba88eb72a03418db9d1c270a43e5011 = $(`<div id="html_1ba88eb72a03418db9d1c270a43e5011" style="width: 100.0%; height: 100.0%;">St. Elizabeth Ann Seaton Catholic Parish Gym</div>`)[0];
            popup_997a555647c94e129356f601883de3b9.setContent(html_1ba88eb72a03418db9d1c270a43e5011);
        

        marker_8f697f9505e849caa9bb7940cb36ed1c.bindPopup(popup_997a555647c94e129356f601883de3b9)
        ;

        
    
    
            var marker_eaa32a7d66034c7c913cff78a1c22227 = L.marker(
                [31.847566, -102.36907],
                {}
            ).addTo(map_55993b9e246c43b883e3ae27296c5438);
        
    
            var icon_293884c5081548608380e3835e0ab030 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_eaa32a7d66034c7c913cff78a1c22227.setIcon(icon_293884c5081548608380e3835e0ab030);
        
    
        var popup_1e1393291b71473198d286f398567f11 = L.popup({"maxWidth": "100%"});

        
            var html_70d932ea43de4e319a08004e795190e3 = $(`<div id="html_70d932ea43de4e319a08004e795190e3" style="width: 100.0%; height: 100.0%;">Copper Rose Building Warming Center</div>`)[0];
            popup_1e1393291b71473198d286f398567f11.setContent(html_70d932ea43de4e319a08004e795190e3);
        

        marker_eaa32a7d66034c7c913cff78a1c22227.bindPopup(popup_1e1393291b71473198d286f398567f11)
        ;

        
    
</script>